body {
    background-color: #d4fff9;
}
.table, th, td {
    font-family: Sans-Serif, serif;
    font-size: 14px;
    border: 0 solid black;
    border-radius: 10px;
    background: #6efce4;
    padding: 15px;
    text-align: center;
}
#header{
    width: 120%;
    text-align: center;
    font-family: serif;
    font-size: 18px;
    color: black;
    line-height: 170%;
}
#task{
    text-align: left;
}
#info-pic{
    height: 70%;
}

#submit:hover{
    color: #80bd34;
}

h2 i {
    color:red; /* задаём цвет шрифта*/
}